li a, div a{
    text-decoration: none;
    color: white;
}
.list-unstyled{
    color: white;
}
.footerBackground{
    /* background-color: #e29f95; */
    /*background-color: #FC816D; */
    background-color: #FFC0B1;
}