.message {
    margin : 25px 0 0 0;
    font-family: Roboto;
    font-weight: 300;
    font-size: 38px;
    color: #2C2424;
}

.goBackList {
    background-color: #FC816D;
    border-radius: 10px;
    height: 30px;
    width: 90px;
    color: white;
    margin: 25px 0 25px 0;
    border: none;
    font-size: 12px;
    font-family: Roboto;
}

.goBackList:hover{
    background-color: #f8dddd;
    color: #FC816D ;
    border-color: rgb(83, 83, 83);
}

.rowData{
    color : white;
    font-family: Roboto;
    text-align: center;
}

