

.columnDropdown{
    text-align: center;
}


.goBack {
    
    background-color: #FC816D;
    border-radius: 10px;
    height: 40px;
    width: 90px;
    color: white;
    margin: 3% 0 127px 0;
    border: none;
    font-size: 12px;

}

.goBack:hover{
    background-color: #f8dddd;
    color: #FC816D ;
    border-color: rgb(83, 83, 83);
}
.dept{
    margin: 0 25% 0 25% ;
    padding:5px 10px 5px 10px;
    background-color: white;
    justify-content: center;
    text-align: left;
}   

.sendHeader{
    color: rgb(0, 0, 0);
    font-family: Roboto;
    font-weight: 300;
    font-size: 38px;
    padding: 5% 0 5% 0;
}

.selectBy {
    color :rgb(0, 0, 0);
    font-family: Roboto;
    font-weight: thin;
    font-size: 22px;
    align-items: center;
}

.dropDown {
    background-color: #FC816D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    color:white;
    border-radius: 5px;
}

.optionName {
    background-color: #f1f1f1;
    border-color: white;
    color:black;
}
