.image {
    width: 100%;
}

.cardHeading {
    margin-top: 10%;
    color: #2C2424;
    font-weight: lighter;
    font-family: Roboto;
}

.aboutImage {
    width: stretch;
    background-repeat: no-repeat;
    background-size: cover;


}

.titleAbout {
    color: #2C2424;
    padding-top: 3%;
    padding-left: 5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30;
    width: 100%;
    position: absolute;
}

.titleAbout h1 {
    color: white;
}

.titleAbout h2 {
    color: white;
    font-weight: lighter;
    font-size: large;
    padding-top: 20px;
    line-height: 30px;
}

.cardText {
    display: flex; 
    justify-content: center;
    text-align: justify;
}

